<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form method="POST" action="/signup">
    <label for="username">User name</label>
    <input id="username" name="username" type="text">

    <label for="password">password</label>
    <input id="password" name="password" type="text">

    <label for="firstName">First Name</label>
    <input id="firstName" name="firstName" type="text">

    <label for="lastName">Last Name</label>
    <input id="lastName" name="lastName" type="text">

    <label for="dateOfBirth">Date of Birth</label>
    <input id="dateOfBirth" name="dateOfBirth" type="date">

    <label for="bio">Bio about your self</label>
    <input id="bio" name="bio" type="text">

    <button type="submit">Submit</button>

</form>

</body>
</html>